<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:id="@+id/loginLayoutBg"
    android:background="@drawable/spalshscreen">
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:id="@+id/linearLayout4"
        android:layout_weight="2.4"
        android:gravity="center"
        android:paddingTop="40dp"
        android:visibility="invisible">
        <ImageView
            android:src="@drawable/login_logo"
            android:id="@+id/imageView3"
            android:scaleType="centerInside"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_weight="1" />
        <ImageView
            android:src="@drawable/login_waves"
            android:id="@+id/imageView4"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_weight="1"
            android:scaleType="fitXY" />
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:id="@+id/linearLayout5"
            android:layout_weight="0.5" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:id="@+id/linearbody"
        android:layout_weight="1">
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="1dp"
            android:id="@+id/bara"
            android:background="#ff015fa7" />
        <LinearLayout
            android:orientation="horizontal"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:id="@+id/boxUser"
            android:background="@color/bluedark"
            android:layout_weight="1">
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout3"
                android:layout_weight="2"
                android:gravity="center"
                android:visibility="gone">
                <ImageView
                    android:src="@drawable/username"
                    android:layout_width="wrap_content"
                    android:layout_height="40dp"
                    android:id="@+id/imageView1" />
            </LinearLayout>
            <AutoCompleteTextView
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:id="@+id/txtUsername"
                android:layout_weight="3"
                android:hint="@string/login_user_hint"
                android:background="@android:color/transparent"
                android:textColor="#FFFFFF"
                android:textColorHint="#FFFFFF"
                android:textSize="@dimen/AppSearchOptionsText"
                android:layout_marginLeft="40dp"
                android:singleLine="true"
                android:imeOptions="actionNext" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="1dp"
            android:id="@+id/bara"
            android:background="#ffffffff" />
        <LinearLayout
            android:orientation="horizontal"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:id="@+id/boxPassword"
            android:background="@color/bluedark"
            android:layout_weight="1">
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout2"
                android:layout_weight="2"
                android:gravity="center"
                android:visibility="gone">
                <ImageView
                    android:src="@drawable/password"
                    android:layout_width="wrap_content"
                    android:layout_height="40dp"
                    android:id="@+id/imageView2" />
            </LinearLayout>
            <EditText
                android:inputType="textPassword"
                android:layout_width="0dp"
                android:id="@+id/txtpassword"
                android:layout_weight="3"
                android:layout_height="match_parent"
                android:hint="@string/login_password_hint"
                android:background="@android:color/transparent"
                android:textColorHint="#FFFFFF"
                android:textColor="#FFFFFF"
                android:textSize="@dimen/AppSearchOptionsText"
                android:layout_marginLeft="40dp"
                android:singleLine="true"
                android:imeOptions="actionDone" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:id="@+id/boxLogIn"
            android:gravity="bottom"
            android:layout_weight="1.4"
            android:layout_marginTop="2dp">
            <Button
                android:text="@string/login_btn"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/butLogIn"
                android:textSize="@dimen/ProfiloButtonText"
                android:textColor="#ffffffff"
                android:background="@drawable/SelectorBtnOrangetoblue" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>