<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/screenBackground">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/linearLayout11">
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/linearLayout1"
            android:background="#ffffffff">
            <RelativeLayout
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="50dp"
                android:id="@+id/menuAppentamenti"
                android:layout_alignParentStart="true"
                android:background="#3f4b56">
                <TextView
                    android:text="@string/profil_bonus"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/txtTitle"
                    android:layout_weight="4"
                    android:gravity="center"
                    android:textStyle="normal"
                    android:textSize="26dp"
                    android:textColor="#ffffff" />
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:id="@+id/boxMenuBack"
                    android:gravity="center"
                    android:layout_width="70dp"
                    android:layout_height="match_parent"
                    android:background="@drawable/SelectorTopMenu">
                    <ImageView
                        android:src="@drawable/menuBack"
                        android:layout_width="wrap_content"
                        android:layout_height="20dp"
                        android:id="@+id/imageBack" />
                </LinearLayout>
            </RelativeLayout>
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/body">
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/lyDate">
                    <LinearLayout
                        android:orientation="horizontal"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:id="@+id/lyBeginDate"
                        android:layout_weight="1"
                        android:layout_marginBottom="1dp"
                        android:background="@drawable/SelectorBlueOrange">
                        <TextView
                            android:text="@string/classifica_periodo"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/textDB"
                            android:gravity="center|left"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:textColor="#ffffffff"
                            android:layout_weight="0.8"
                            android:paddingLeft="15dp" />
                        <TextView
                            android:text="27 iulie 2015"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/txtDateBegin"
                            android:layout_weight="1"
                            android:gravity="center"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:textColor="#ffffff" />
                        <LinearLayout
                            android:orientation="vertical"
                            android:minWidth="25px"
                            android:minHeight="25px"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/linearLayout12"
                            android:layout_weight="0.5"
                            android:gravity="center">
                            <ImageView
                                android:src="@drawable/calendaricon"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:id="@+id/imageView1"
                                android:layout_marginLeft="10dp"
                                android:layout_marginTop="10dp"
                                android:layout_marginRight="10dp"
                                android:layout_marginBottom="10dp" />
                        </LinearLayout>
                    </LinearLayout>
                    <LinearLayout
                        android:orientation="horizontal"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:id="@+id/lyFinalDate"
                        android:layout_weight="1"
                        android:layout_marginBottom="1dp"
                        android:background="@drawable/SelectorBlueOrange"
                        android:visibility="gone">
                        <TextView
                            android:text="DATA AL"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/textDF"
                            android:gravity="center"
                            android:layout_weight="0.8"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:textColor="#ffffff" />
                        <TextView
                            android:text="27 iulie 2015"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/txtDateFinal"
                            android:layout_weight="1"
                            android:gravity="center"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:textColor="#ffffff" />
                        <LinearLayout
                            android:orientation="vertical"
                            android:minWidth="25px"
                            android:minHeight="25px"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/linearLayout13"
                            android:layout_weight="0.5"
                            android:gravity="center">
                            <ImageView
                                android:src="@drawable/calendaricon"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:id="@+id/imageView1"
                                android:layout_marginLeft="10dp"
                                android:layout_marginTop="10dp"
                                android:layout_marginRight="10dp"
                                android:layout_marginBottom="10dp" />
                        </LinearLayout>
                    </LinearLayout>
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="0dp"
                    android:id="@+id/lyList"
                    android:layout_weight="1"
                    android:gravity="center">
                    <LinearLayout
                        android:orientation="horizontal"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="45dp"
                        android:id="@+id/linearLayout14"
                        android:background="@color/bluedark">
                        <TextView
                            android:text="@string/bonus_ragSociale"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/textRS"
                            android:layout_weight="1.3"
                            android:gravity="left|center"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:paddingLeft="15dp"
                            android:textColor="#ffffff" />
                        <TextView
                            android:text="@string/bonus_prodoto"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:id="@+id/textP"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:layout_weight="0.9"
                            android:gravity="center"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:textColor="#ffffff" />
                        <TextView
                            android:text="@string/bonus_bonus"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/textB"
                            android:layout_weight="0.7"
                            android:gravity="right|center"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:paddingRight="10dp"
                            android:textColor="#ffffff" />
                    </LinearLayout>
                    <ListView
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:id="@+id/listBonus"
                        android:cacheColorHint="@android:color/transparent"
                        android:divider="@color/trans"
                        android:dividerHeight="0dp"
                        android:listSelector="@color/trans"
                        android:background="#ffffffff" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="60dp"
                    android:id="@+id/lyBonus"
                    android:background="@color/orangedark">
                    <TextView
                        android:text="@string/bonus_totale"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/textBT"
                        android:layout_weight="1"
                        android:gravity="left|center"
                        android:layout_marginLeft="20dp"
                        android:textSize="@dimen/ScreenTitleText"
                        android:textColor="#ffffff" />
                    <TextView
                        android:text="0,00 €"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/txtTotal"
                        android:layout_weight="0.6"
                        android:gravity="right|center"
                        android:layout_marginRight="20dp"
                        android:textSize="@dimen/ScreenTitleText"
                        android:textColor="#ffffff" />
                </LinearLayout>
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
</LinearLayout>