<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1">
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/boxTime"
            android:gravity="center"
            android:background="#005fa7"
            android:layout_width="67.5dp"
            android:layout_height="match_parent">
            <RelativeLayout
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/relativeLayout1"
                android:layout_marginTop="10dp">
                <TextView
                    android:textAppearance="?android:attr/textAppearanceLarge"
                    android:id="@+id/txtHour"
                    android:text="10"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:textColor="#ffffffff"
                    android:textSize="@dimen/AppSearchItemHour" />
                <TextView
                    android:text="11"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:id="@+id/txtMin"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_toRightOf="@+id/txtHour"
                    android:layout_alignParentTop="true"
                    android:textColor="#ffffffff"
                    android:textSize="@dimen/AppSearchItemDateMinute" />
            </RelativeLayout>
            <TextView
                android:text="25.05.1995"
                android:textAppearance="?android:attr/textAppearanceSmall"
                android:id="@+id/txtDate"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginBottom="5dp"
                android:textColor="#ffffffff"
                android:textSize="@dimen/AppSearchItemDateMinute"
                android:layout_marginTop="5dp" />
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:id="@+id/bara"
                android:background="#6482cc"
                android:layout_width="match_parent"
                android:layout_height="1dp" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/layappAdapterColor"
            android:layout_width="2dp"
            android:layout_height="match_parent"
            android:background="#4c4c4c" />
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="8dp"
            android:layout_height="match_parent"
            android:id="@+id/layArrow">
            <ImageView
                android:src="@drawable/arrowtoright"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/imgArrowRight"
                android:scaleType="fitCenter" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/layAppuntamentiRegSociale"
            android:background="#005fa7"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="3">
            <TextView
                android:text="Text"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/txtAppCompanyName"
                android:gravity="center"
                android:layout_weight="1"
                android:textSize="@dimen/AppSearchOptionsText"
                android:textColor="#ffffffff"
                android:lines="1"
                android:minLines="1"
                android:maxLines="1"
                android:ellipsize="end" />
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:id="@+id/bara"
                android:background="#6482cc"
                android:layout_height="1dp"
                android:layout_width="match_parent" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>