<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="60dp"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/layBackground"
        android:gravity="center">
        <TextView
            android:text="TITLE"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/txtregSociale"
            android:gravity="center"
            android:textColor="#ffffff"
            android:textSize="@dimen/ClientListItemText"
            android:paddingRight="2dp"
            android:paddingLeft="2dp"
            android:paddingTop="7dp"
            android:paddingBottom="7dp" />
    </LinearLayout>
</LinearLayout>