<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1"
        android:gravity="center">
        <TimePicker
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/orderTimePicker"
            android:visibility="gone" />
        <DatePicker
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/orderDatePicker"
            android:focusable="false" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout2"
        android:layout_gravity="center"
        android:gravity="center">
        <Button
            android:text="OK"
            android:layout_width="120dp"
            android:layout_height="match_parent"
            android:id="@+id/step1DateTimeBtnOK" />
        <EditText
            android:inputType="textPersonName"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/textDummy" />
        <Button
            android:text="Cancel"
            android:layout_width="120dp"
            android:layout_height="match_parent"
            android:id="@+id/step1DateTimeBtnCancel" />
    </LinearLayout>
</LinearLayout>