<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1">
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/linearLayout2"
            android:layout_weight="1">
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:id="@+id/boxTime"
                android:gravity="center"
                android:paddingTop="10dp"
                android:paddingRight="10dp"
                android:paddingBottom="10dp"
                android:paddingLeft="10dp"
                android:background="@color/bluedark"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">
                <TextView
                    android:text="15.02.2015"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtDate"
                    android:gravity="center"
                    android:textColor="#ffffffff"
                    android:textSize="@dimen/NotificheListItemText" />
                <TextView
                    android:text="20:15"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtHour"
                    android:textSize="@dimen/NotificheListItemText"
                    android:gravity="center"
                    android:textColor="#ffffffff" />
            </LinearLayout>
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:id="@+id/linearLayout3"
                android:background="#6482CC" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="2dp"
            android:layout_height="match_parent"
            android:id="@+id/bara"
            android:background="#4c4c4c" />
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="9dp"
            android:layout_height="match_parent"
            android:id="@+id/lyImag">
            <ImageView
                android:src="@drawable/arrowtoright"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/imgArrowRight"
                android:scaleType="fitCenter" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>