<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:id="@+id/profiloLayoutBg">
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/linearLayout1"
        android:background="#ffffffff">
        <RelativeLayout
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="50dp"
            android:id="@+id/menuAppentamenti"
            android:layout_alignParentStart="true"
            android:background="#3f4b56">
            <TextView
                android:text="@string/profil_title"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/txtTitle"
                android:layout_weight="4"
                android:gravity="center"
                android:textStyle="normal"
                android:textSize="26dp"
                android:textColor="#ffffff" />
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:id="@+id/boxMenuBack"
                android:gravity="center"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:background="@drawable/SelectorTopMenu">
                <ImageView
                    android:src="@drawable/menuBack"
                    android:layout_width="wrap_content"
                    android:layout_height="20dp"
                    android:id="@+id/imageBack" />
            </LinearLayout>
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/butLogout"
                android:layout_alignParentRight="true"
                android:gravity="center"
                android:paddingRight="10dp">
                <ImageView
                    android:src="@drawable/logoutbtnimg"
                    android:layout_width="23dp"
                    android:layout_height="23dp"
                    android:id="@+id/imageView5"
                    android:layout_gravity="center" />
            </LinearLayout>
        </RelativeLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/body">
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:id="@+id/lyImage"
                android:layout_weight="1">
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout2"
                    android:layout_weight="1"
                    android:gravity="center_vertical"
                    android:paddingLeft="20dp"
                    android:paddingRight="10dp">
                    <TextView
                        android:text="Nume Prenume"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/txtName"
                        android:textColor="@color/bluedark"
                        android:textStyle="bold"
                        android:textSize="@dimen/ProfiloButtonText" />
                    <ImageButton
                        android:layout_width="30dp"
                        android:layout_height="30dp"
                        android:id="@+id/butStar"
                        android:background="@drawable/steaTop" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout3"
                    android:layout_weight="1"
                    android:paddingTop="10dp"
                    android:paddingRight="10dp"
                    android:paddingBottom="10dp"
                    android:paddingLeft="10dp">
                    <ImageView
                        android:src="@drawable/profilIamge"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:id="@+id/imgProfile" />
                </LinearLayout>
            </LinearLayout>
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:id="@+id/lyInfo"
                android:layout_weight="1"
                android:gravity="center"
                android:paddingRight="20dp"
                android:paddingLeft="20dp">
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/linearLayout4">
                    <TextView
                        android:text="@string/profil_mail"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/textMail"
                        android:layout_weight="1"
                        android:textColor="@color/orangedark"
                        android:textSize="@dimen/AppSearchOptionsText" />
                    <TextView
                        android:text="Mail"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/txtMail"
                        android:layout_weight="2"
                        android:textColor="@color/graySelect"
                        android:textSize="@dimen/AppSearchOptionsText" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/linearLayout5">
                    <TextView
                        android:text="@string/profil_cellulare"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/textPhone"
                        android:textColor="@color/orangedark"
                        android:layout_weight="1"
                        android:textSize="@dimen/AppSearchOptionsText" />
                    <TextView
                        android:text="Cellulare"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/txtPhone"
                        android:textColor="@color/graySelect"
                        android:layout_weight="2"
                        android:textSize="@dimen/AppSearchOptionsText" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/linearLayout6">
                    <TextView
                        android:text="@string/profil_indirizzo"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/textAddress"
                        android:textColor="@color/orangedark"
                        android:layout_weight="1"
                        android:textSize="@dimen/AppSearchOptionsText" />
                    <TextView
                        android:text="Address"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/txtAddress"
                        android:textColor="@color/graySelect"
                        android:layout_weight="2"
                        android:textSize="@dimen/AppSearchOptionsText" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/linearLayout7">
                    <TextView
                        android:text="@string/profil_partita_iva"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/textVAT"
                        android:textColor="@color/orangedark"
                        android:layout_weight="1"
                        android:textSize="@dimen/AppSearchOptionsText" />
                    <TextView
                        android:text="Partita Iva"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/txtVAT"
                        android:textColor="@color/graySelect"
                        android:layout_weight="2"
                        android:textSize="@dimen/AppSearchOptionsText" />
                </LinearLayout>
            </LinearLayout>
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:id="@+id/lyBut"
                android:layout_weight="1">
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="0dp"
                    android:id="@+id/butBonus"
                    android:background="@drawable/SelectorBtnOrangetoblue"
                    android:layout_marginBottom="1dp"
                    android:layout_weight="1">
                    <LinearLayout
                        android:orientation="vertical"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/linearLayout8"
                        android:layout_weight="1.2"
                        android:gravity="center"
                        android:paddingTop="10dp"
                        android:paddingBottom="10dp">
                        <ImageView
                            android:src="@drawable/ProfiloBonus"
                            android:id="@+id/imageView2"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content" />
                    </LinearLayout>
                    <TextView
                        android:text="@string/profil_bonus"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/textBonus"
                        android:layout_weight="3"
                        android:textColor="#ffffffff"
                        android:textSize="@dimen/ProfiloButtonText"
                        android:gravity="center_vertical" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="0dp"
                    android:id="@+id/butInvito"
                    android:background="@drawable/SelectorBtnOrangetoblue"
                    android:layout_marginBottom="1dp"
                    android:layout_weight="1">
                    <LinearLayout
                        android:orientation="vertical"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/linearLayout9"
                        android:layout_weight="1.2"
                        android:gravity="center"
                        android:paddingTop="15dp"
                        android:paddingBottom="15dp">
                        <ImageView
                            android:src="@drawable/ProfiloInvite"
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"
                            android:id="@+id/imageView3" />
                    </LinearLayout>
                    <TextView
                        android:text="@string/profil_invito_fatt"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/textInvito"
                        android:layout_weight="3"
                        android:textColor="#ffffffff"
                        android:gravity="center_vertical"
                        android:textSize="@dimen/ProfiloButtonText" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="0dp"
                    android:id="@+id/butGare"
                    android:background="@drawable/SelectorBtnOrangetoblue"
                    android:layout_weight="1">
                    <LinearLayout
                        android:orientation="vertical"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/linearLayout10"
                        android:layout_weight="1.2"
                        android:gravity="center"
                        android:paddingTop="12dp"
                        android:paddingBottom="12dp">
                        <ImageView
                            android:src="@drawable/ProfiloGare"
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"
                            android:id="@+id/imageView4" />
                    </LinearLayout>
                    <TextView
                        android:text="@string/profil_gare"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/textGare"
                        android:layout_weight="3"
                        android:textColor="#ffffffff"
                        android:gravity="center_vertical"
                        android:textSize="@dimen/ProfiloButtonText" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/butLogoutas"
                    android:background="@drawable/SelectorBtnOrangetoblue"
                    android:visibility="gone">
                    <LinearLayout
                        android:orientation="vertical"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/linearLayout10"
                        android:layout_weight="1.2"
                        android:gravity="center"
                        android:paddingTop="12dp"
                        android:paddingBottom="12dp">
                        <ImageView
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"
                            android:id="@+id/imageView4" />
                    </LinearLayout>
                    <TextView
                        android:text="LOGOUT"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/textLogout"
                        android:layout_weight="3"
                        android:textColor="#ffffffff"
                        android:gravity="center_vertical"
                        android:textSize="20sp" />
                </LinearLayout>
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
<!-- Property Change Conflict | source:sw360dp, id:@+id/txtTitle | text=@string/profil_title -->
</LinearLayout>