<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:id="@+id/screenBackground">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/linearLayout11">
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/linearLayout1"
            android:background="#ffffffff">
            <RelativeLayout
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="50dp"
                android:id="@+id/menuAppentamenti"
                android:layout_alignParentStart="true"
                android:background="#3f4b56">
                <TextView
                    android:text="@string/profil_invito_fatt"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/txtTitle"
                    android:layout_weight="4"
                    android:gravity="center"
                    android:textStyle="normal"
                    android:textSize="26dp"
                    android:textColor="#ffffff" />
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:id="@+id/boxMenuBack"
                    android:gravity="center"
                    android:layout_width="70dp"
                    android:layout_height="match_parent"
                    android:background="@drawable/SelectorTopMenu">
                    <ImageView
                        android:src="@drawable/menuBack"
                        android:layout_width="wrap_content"
                        android:layout_height="20dp"
                        android:id="@+id/imageBack" />
                </LinearLayout>
            </RelativeLayout>
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/body">
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="40dp"
                    android:id="@+id/lyDate">
                    <LinearLayout
                        android:orientation="horizontal"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:id="@+id/lyBeginDate"
                        android:layout_weight="1"
                        android:layout_marginBottom="1dp"
                        android:background="@drawable/SelectorBlueOrange">
                        <TextView
                            android:text="@string/classifica_periodo"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/textDB"
                            android:gravity="center|left"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:textColor="#ffffffff"
                            android:layout_weight="0.8"
                            android:paddingLeft="15dp" />
                        <TextView
                            android:text="27 iulie 2015"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/txtDateBegin"
                            android:layout_weight="1"
                            android:gravity="center"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:textColor="#ffffffff" />
                        <LinearLayout
                            android:orientation="vertical"
                            android:minWidth="25px"
                            android:minHeight="25px"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/linearLayout12"
                            android:layout_weight="0.5"
                            android:gravity="center"
                            android:layout_gravity="center">
                            <ImageView
                                android:src="@drawable/calendaricon"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:id="@+id/imageView1"
                                android:layout_marginLeft="5dp"
                                android:layout_marginTop="5dp"
                                android:layout_marginRight="5dp"
                                android:layout_marginBottom="5dp" />
                        </LinearLayout>
                    </LinearLayout>
                    <LinearLayout
                        android:orientation="horizontal"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:id="@+id/lyFinalDate"
                        android:layout_weight="1"
                        android:layout_marginBottom="1dp"
                        android:background="@drawable/SelectorBlueOrange"
                        android:visibility="gone">
                        <TextView
                            android:text="DATA AL"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/textDF"
                            android:gravity="center"
                            android:layout_weight="0.8"
                            android:textSize="@dimen/AppSearchOptionsText"
                            android:textColor="#ffffffff" />
                        <TextView
                            android:text="27 iulie 2015"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/txtDateFinal"
                            android:layout_weight="1"
                            android:gravity="center"
                            android:textSize="16dp"
                            android:textColor="#ffffffff" />
                        <LinearLayout
                            android:orientation="vertical"
                            android:minWidth="25px"
                            android:minHeight="25px"
                            android:layout_width="0dp"
                            android:layout_height="match_parent"
                            android:id="@+id/linearLayout13"
                            android:layout_weight="0.5"
                            android:gravity="center"
                            android:layout_gravity="center">
                            <ImageView
                                android:src="@drawable/calendaricon"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:id="@+id/imageView1"
                                android:layout_marginLeft="5dp"
                                android:layout_marginTop="5dp"
                                android:layout_marginRight="5dp"
                                android:layout_marginBottom="5dp" />
                        </LinearLayout>
                    </LinearLayout>
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="0dp"
                    android:id="@+id/lyList"
                    android:layout_weight="1"
                    android:gravity="center">
                    <ListView
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:id="@+id/listBill"
                        android:dividerHeight="3dp"
                        android:divider="#ff6482cc"
                        android:transcriptMode="alwaysScroll"
                        android:cacheColorHint="@android:color/transparent" />
                </LinearLayout>
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
</LinearLayout>