<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:id="@+id/splashLayoutBg"
    android:background="#ffffff">
    <RelativeLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/relativeLayout1"
        android:background="@drawable/loading_fullsecreen">
        <RelativeLayout
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/BoxInternet"
            android:layout_height="45dp"
            android:visibility="visible"
            android:layout_alignParentBottom="true"
            android:layout_marginBottom="80dp"
            android:layout_above="@+id/linearLayout1"
            android:layout_centerHorizontal="true"
            android:layout_width="wrap_content">
            <ImageView
                android:src="@drawable/LodingImageBig"
                android:layout_width="45dp"
                android:layout_height="45dp"
                android:id="@+id/rotateImageBig"
                android:layout_alignParentBottom="true" />
            <ImageView
                android:src="@drawable/LodingImageSmall"
                android:id="@+id/rotateImageSmall"
                android:layout_width="22dp"
                android:layout_height="22dp"
                android:layout_marginLeft="42dp"
                android:layout_marginBottom="3dp"
                android:layout_alignParentBottom="true" />
        </RelativeLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:id="@+id/linearLayout1"
            android:layout_height="wrap_content"
            android:layout_marginTop="15dp"
            android:layout_alignParentBottom="true"
            android:layout_marginBottom="150dp"
            android:visibility="gone">
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="6dp"
                android:id="@+id/linearLayout2"
                android:layout_marginRight="120dp"
                android:background="@drawable/Bara1" />
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="6dp"
                android:id="@+id/linearLayout3"
                android:layout_marginRight="50dp"
                android:background="@drawable/Bara2" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/BoxNoInternet"
            android:gravity="center"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_alignParentBottom="true"
            android:visibility="visible"
            android:layout_marginBottom="40dp">
            <TextView
                android:text="No Internet"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/textNoInternet"
                android:layout_marginLeft="10dp"
                android:layout_marginRight="10dp"
                android:gravity="center"
                android:textColor="#444444" />
            <ImageView
                android:src="@drawable/Refresh"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:id="@+id/refreshImage"
                android:layout_marginBottom="50dp"
                android:visibility="gone" />
        </LinearLayout>
    </RelativeLayout>
</LinearLayout>